<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Stats.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
	<title>UpdateDB</title>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <h2>The database has been updated successfully!</h2>

</asp:Content>
