﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Stats.Master.cs" Inherits="Depiction.Web.Views.Shared.Stats" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <link href="<%= ResolveClientUrl("~/Content/trial.depiction.com.css")%>" rel="stylesheet" type="text/css" />
    <script src="../../Content/mootools-1.1.js" type="text/javascript"></script>
    <script src="../../Content/iMask-full.js" type="text/javascript"></script>
    <script src="../../Content/fValidator-full.js" type="text/javascript"></script>
    <script type="text/javascript">
    var RecaptchaOptions = {
       theme : 'blackglass'
    };
    </script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
    <body>
        <div class="DepictionViewer">
            <div id="main">
                <div id="header">
                    <a href="http://www.depiction.com"><img src="<%= ResolveClientUrl("~/Content/DepictionWebLogo_v8.jpg") %>" alt="Depiction is More than Mapping" /></a>
                    <form action="http://www.depiction.com/search/node" accept-charset="UTF-8" method="post" id="search-form" class="search-form">
                        <input type="text" maxlength="255" name="keys" id="edit-keys"  size="40" class="form-text" />
                        <input type="submit" name="doSearch" id="doSearch" value="Search" />
                    </form>

                    <ul id="menu">
<%  if (Context.User.IsInRole("admin")) { %>
                        <li><a href="<%= ExpressionHelper.GetActionLink<AdminController>(a => a.Index()) %>">Admin</a></li>
<%  } %>
<%  if (Context.User.Identity.IsAuthenticated)
    { %>
                        <li><a href="<%= ExpressionHelper.GetActionLink<HomeController>(h => h.Dashboard()) %>">Dashboard</a></li>
                        <li><a href="<%= ExpressionHelper.GetActionLink<ReportsController>(r => r.Index()) %>">Reports</a></li>
                        <li><a href="<%= ExpressionHelper.GetActionLink<LiveReportsController>(l => l.Index()) %>">Live Reports</a></li>
<% } %>
                    </ul>

                    <div class="clearingDiv"></div>
                </div>
                <div id="content">
<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
                </div>
            </div>
        </div>
    </body>
</html>
