﻿body
{
    background-color: White;
    font-size: .8em;
    font-family: Tahoma, Arial, Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #333;
}

p, ul
{
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    padding: 0;
    margin: 0 0 .3em 0;
}

h1
{
    font-size: 2.2em;
    color: #FF6700;
}

h2
{
    font-size: 1.3em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

/* Tables ...
***************************************************************/
table
{
    border: 1px solid #333;
    font-size: 1.2em;
    color: #333;
    margin: 20px 0;
    clear: left;
}

table thead
{
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: bolder;
}

table.Sortable th
{
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid #333;
    background: #eee url(/Content/sortedtable/icon-table-sort.png) no-repeat 2px 8px;
}

.sortedASC {
	background: url(/Content/sortedtable/icon-table-sort-asc.png) no-repeat 2px 4px #eee;
}

.sortedDESC {
	background: url(/Content/sortedtable/icon-table-sort-desc.png) no-repeat 2px 10px #eee;
}

.tableHeaderOver {
	cursor: pointer;
	color: #FF6700;
}

tr
{
	background-color: #eee;
}

tr.altRow
{
	background-color: #fff;
}

tr.over {
	background-color: #354158;
	color: #fff;
	cursor: pointer;
}

td
{
    margin: 0;
    padding: 4px;
    border: none;
}

/* Master page stuff
***************************************************************/
div#content
{
    width: 800px;
    margin: 0 auto;
    background: white;
}

div#header
{
    width: 800px;
    margin: 20px auto 10px;
    border-bottom: 3px solid #333;
}

div#header img
{
    border: none;
    float: left;
}

div#header form
{
    float: right;
}

div#header ul#menu
{
    list-style: none;
    float: right;
    width: 800px;
    margin: 0 0 4px;
    padding: 0;
}

div#header ul#menu li
{
    margin: 0;
    padding: 0;
    float: right;
}

div#header ul#menu a
{
    text-decoration: none;
    font-weight: bold;
    font-size: .9em;
    margin: 0 6px;
    color: #2852DB;
}

div#footer
{
    width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    font-size: .7em;
}

div#footer a
{
    font-weight: bold;
    color: #FF6700;
    text-decoration: none;
}

div#footer a:hover
{
    text-decoration: underline;
}

div#footer p
{
    margin: 6px 0;
    padding: 0;
}

div.clearingDiv
{
    clear: both;
    width: 800px;
    height: 1px;
}

/* Data Entry Form
***************************************************************/

div.DataEntryArea
{
    margin: 40px 100px;
    background: #CFC9C0;
    border: 1px solid #666;
    width: 586px;
    float: left;
    padding: 0 0 10px;
}

div.DataEntryArea h3.HeaderFormItem
{
    width: 566px;
    padding: 6px 0 6px 20px;
    display: block;
    background-color: #776F68;
    color: White;
    font-weight: bold;
    font-size: 1.9em;
}

div.DataEntryArea p
{
    margin: 6px 0 0;
    font-size: 1em;
    float: left;
    vertical-align: middle;
    line-height: 2em;
}

div.DataEntryArea div.DataFormItem
{
    width: 586px;
    margin-bottom: 4px;
}

div.DataEntryArea div.DataFormItem span
{
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    font-weight: bold;
    margin: 0 6px 0 0;
}

div.DataEntryArea div.fValidator-msg
{
    background-color: Red;
    color: White;
    float: left;
    margin: 0 0 0 156px;
    width: 373px;
    padding: 2px;
    font-size: 1.4em;
    font-weight: bolder;
}

div.DataEntryArea div.DataFormItem input, div.DataEntryArea div.DataFormItem select, div.DataEntryArea div.DataFormItem textarea
{
    font-family: Verdana, Helvetica, Sans-Serif;
    width: 375px;
    border: 1px solid #666;
    font-size: 1.2em;
    margin: 0;
}

div.DataEntryArea div.DisplayText
{
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    width: 375px;
}

div.DataEntryArea div.DataFormItem textarea
{
    height: 6em;
}

div.DataEntryArea div.DataFormItem select
{
    border: 1px solid #666;
    width: auto;
    max-width: 375px;
}

div.DataEntryArea div.DataFormItem span.checkbox
{
    width: auto;
    text-align: left;
}

div.DataEntryArea div.DataFormItem
{
    float: left;
    display: block;
}

div.DataEntryArea div.DataFormItem span.checkbox input
{
    margin: 7px 6px;
    width: auto;
    float: left;
}

div.DataEntryArea p.ButtonsFormItem
{
    padding-left: 156px;
    width: 375px;
}

div.DataEntryArea div.DataFormItem ul
{
    font-size: 1.2em;
    font-weight: normal;
    list-style-position: inside;
}

div.DataEntryArea div.DataFormItem ul ul
{
    font: inherit;
    margin-left: 25px;
}


div.DataEntryArea p.ButtonsFormItem button, a.button
{
    margin: 2px;
    padding: 0;
    width: auto;
    overflow: visible;
    float: left;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    margin-right: 6px;
}

div.DataEntryArea p.ButtonsFormItem button
{
    margin: 0 6px 0 0;
}

div.DataEntryArea p.ButtonsFormItem button span, a.button span
{
    display: block;
    margin: 0;
    padding: 3px 6px;
    background-color: #B5AEA3;
    color: #333;
    border: 3px solid #000;
    text-transform: uppercase;
    text-align: center;
    font: Arial Bold, Tahoma, Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

div.DataEntryArea div#recaptcha_area
{
    padding-left: 156px;
    float: left;
}

a.button
{
    text-decoration: none;
}

div.DataEntryArea p.ButtonsFormItem button:hover span, a.button:hover span
{
    background-color: #FFA100;
    color: #000;
    border-color: #000;
}

div.DataEntryArea p.ReferenceLine
{
    font-style: italic;
    font-weight: lighter;
    font-size: .9em;
    padding: 0 2em;
}

/* Confirmation.aspx
*************************************************/
p.RegistrationKey
{
    font-size: 1.4em;
    color: Navy;
    font-weight: bolder;
}

div.helpButtons
{
    padding: 0 100px;
}

div.helpButtons div
{
    width: 280px;
    float: left;
    margin: 0 20px 20px 0;
}

div.helpButtons div h3
{
    clear: left;
    display: block;
    font-weight: normal;
    margin: 0;
}

a.clickHereButton
{
    background-color: #FDD108;
    color: Black;
    display: block;
    float: left;
    clear: right;
    text-decoration: none;
    border: 3px solid black;
    font-weight: bold;
    padding: 0;
    margin: 20px 0 8px 0;
    cursor: pointer;
}

a.clickHereButton span.action
{
    width: 5em;
    float: left;
    padding: 4px;
    font-size: 1.5em;
}

a.clickHereButton span.callOut
{
    float: left;
    display: block;
    background-color: Black;
    color: #FDD108;
    width: 4em;
    text-align: center;
    font-size: .9em;
    padding: 2px;
    margin: 0 0 0 4px;
}