<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="Depiction.Web.Views.Addin.EditQuickstart" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
	<title>EditQuickstart</title>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <%= form %>

</asp:Content>
